.dark-high-contrast {
  --md-sys-color-primary: rgb(255 235 241);
  --md-sys-color-surface-tint: rgb(253 176 212);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(249 172 208);
  --md-sys-color-on-primary-container: rgb(31 0 18);
  --md-sys-color-secondary: rgb(255 235 241);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(220 186 199);
  --md-sys-color-on-secondary-container: rgb(23 6 15);
  --md-sys-color-tertiary: rgb(255 236 227);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(238 183 150);
  --md-sys-color-on-tertiary-container: rgb(25 6 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(25 17 20);
  --md-sys-color-on-background: rgb(238 223 227);
  --md-sys-color-surface: rgb(25 17 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(80 67 72);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 235 241);
  --md-sys-color-outline-variant: rgb(208 190 196);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 223 227);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(110 53 83);
  --md-sys-color-primary-fixed: rgb(255 216 232);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(253 176 212);
  --md-sys-color-on-primary-fixed-variant: rgb(42 0 26);
  --md-sys-color-secondary-fixed: rgb(253 217 231);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(224 189 203);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 11 21);
  --md-sys-color-tertiary-fixed: rgb(255 219 200);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 187 154);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 11 0);
  --md-sys-color-surface-dim: rgb(25 17 20);
  --md-sys-color-surface-bright: rgb(87 77 81);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(37 29 33);
  --md-sys-color-surface-container: rgb(55 46 49);
  --md-sys-color-surface-container-high: rgb(66 57 60);
  --md-sys-color-surface-container-highest: rgb(78 68 72);
}
