.light-medium-contrast {
  --md-sys-color-primary: rgb(89 35 65);
  --md-sys-color-surface-tint: rgb(136 75 106);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(153 89 121);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(71 47 58);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(130 101 113);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(81 45 22);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(144 99 71);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 248);
  --md-sys-color-on-background: rgb(33 25 29);
  --md-sys-color-surface: rgb(255 248 248);
  --md-sys-color-on-surface: rgb(22 15 18);
  --md-sys-color-surface-variant: rgb(241 222 228);
  --md-sys-color-on-surface-variant: rgb(63 51 56);
  --md-sys-color-outline: rgb(92 79 84);
  --md-sys-color-outline-variant: rgb(120 105 111);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 46 49);
  --md-sys-color-inverse-on-surface: rgb(252 237 241);
  --md-sys-color-inverse-primary: rgb(253 176 212);
  --md-sys-color-primary-fixed: rgb(153 89 121);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(125 65 96);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(130 101 113);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(104 77 89);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(144 99 71);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(116 75 49);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(209 195 199);
  --md-sys-color-surface-bright: rgb(255 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 244);
  --md-sys-color-surface-container: rgb(244 228 233);
  --md-sys-color-surface-container-high: rgb(232 217 221);
  --md-sys-color-surface-container-highest: rgb(220 206 210);
}
